fish-coda-client/src/wsdl/boss.wsdl

<definitions name="bossServices" targetNamespace="http://kz.kcell.apps.pentagon.coda_axon.ws" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://jaxb.dev.java.net/array" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://kz.kcell.apps.pentagon.coda_axon.ws" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
 <types>
  <xs:schema targetNamespace="http://jaxb.dev.java.net/array" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType final="#all" name="anyTypeArray">
    <xs:sequence>
     <xs:element maxOccurs="unbounded" minOccurs="0" name="item" nillable="true" type="xs:anyType"/>
    </xs:sequence>
   </xs:complexType>
  </xs:schema>
  <xs:schema targetNamespace="http://kz.kcell.apps.pentagon.coda_axon.ws" version="1.0" xmlns:ns1="http://jaxb.dev.java.net/array" xmlns:tns="http://kz.kcell.apps.pentagon.coda_axon.ws" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:import namespace="http://jaxb.dev.java.net/array"/>
   <xs:element name="BossAccountInfoAxon" type="tns:bossAccountInfo"/>
   <xs:element name="BossBalanceInfoAxon" type="tns:bossBalanceInfo"/>
   <xs:element name="CODABossJCAException" type="tns:CODABossJCAException"/>
   <xs:element name="getBalance" type="tns:getBalance"/>
   <xs:element name="getBalanceResponse" type="tns:getBalanceResponse"/>
   <xs:element name="getBalanceWithZeros" type="tns:getBalanceWithZeros"/>
   <xs:element name="getBalanceWithZerosResponse" type="tns:getBalanceWithZerosResponse"/>
   <xs:element name="getMegaPromo" type="tns:getMegaPromo"/>
   <xs:element name="getMegaPromoResponse" type="tns:getMegaPromoResponse"/>
   <xs:element name="isBalancePositive" type="tns:isBalancePositive"/>
   <xs:element name="isBalancePositiveResponse" type="tns:isBalancePositiveResponse"/>
   <xs:element name="updateBalance" type="tns:updateBalance"/>
   <xs:element name="updateBalanceResponse" type="tns:updateBalanceResponse"/>
   <xs:complexType name="getBalance">
    <xs:sequence>
     <xs:element minOccurs="0" name="arg0" type="xs:string"/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name="getBalanceResponse">
    <xs:sequence>
     <xs:element minOccurs="0" name="return" type="tns:bossAccountInfo"/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bossAccountInfo">
    <xs:sequence>
     <xs:element name="balancesMap">
      <xs:complexType>
       <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" name="entry">
         <xs:complexType>
          <xs:sequence>
           <xs:element minOccurs="0" name="key" type="xs:string"/>
           <xs:element minOccurs="0" name="value" type="tns:bossBalanceInfo"/>
          </xs:sequence>
         </xs:complexType>
        </xs:element>
       </xs:sequence>
      </xs:complexType>
     </xs:element>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bossBalanceInfo">
    <xs:sequence>
     <xs:element minOccurs="0" name="balanceName" type="xs:string"/>
     <xs:element minOccurs="0" name="pocketName" type="xs:string"/>
     <xs:element minOccurs="0" name="startDate" type="xs:dateTime"/>
     <xs:element minOccurs="0" name="endDate" type="xs:dateTime"/>
     <xs:element minOccurs="0" name="amount" type="xs:double"/>
     <xs:element name="isMain" type="xs:boolean"/>
     <xs:element maxOccurs="unbounded" minOccurs="0" name="pockets" nillable="true" type="tns:bossBalanceInfo"/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name="CODABossJCAException">
    <xs:sequence>
     <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name="getMegaPromo">
    <xs:sequence>
     <xs:element minOccurs="0" name="msisdn" type="xs:string"/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name="getMegaPromoResponse">
    <xs:sequence>
     <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="ns1:anyTypeArray"/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name="updateBalance">
    <xs:sequence>
     <xs:element minOccurs="0" name="arg0" type="xs:string"/>
     <xs:element minOccurs="0" name="arg1" type="xs:string"/>
     <xs:element minOccurs="0" name="arg2" type="xs:string"/>
     <xs:element minOccurs="0" name="arg3" type="xs:string"/>
     <xs:element minOccurs="0" name="arg4" type="xs:string"/>
     <xs:element minOccurs="0" name="arg5" type="xs:string"/>
     <xs:element minOccurs="0" name="arg6" type="xs:string"/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name="updateBalanceResponse">
    <xs:sequence/>
   </xs:complexType>
   <xs:complexType name="getBalanceWithZeros">
    <xs:sequence>
     <xs:element minOccurs="0" name="arg0" type="xs:string"/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name="getBalanceWithZerosResponse">
    <xs:sequence>
     <xs:element minOccurs="0" name="return" type="tns:bossAccountInfo"/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name="isBalancePositive">
    <xs:sequence>
     <xs:element minOccurs="0" name="msisdn" type="xs:string"/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name="isBalancePositiveResponse">
    <xs:sequence>
     <xs:element minOccurs="0" name="return" type="xs:boolean"/>
    </xs:sequence>
   </xs:complexType>
  </xs:schema>
 </types>
 <message name="BossServicesWS_isBalancePositiveResponse">
  <part element="tns:isBalancePositiveResponse" name="isBalancePositiveResponse"/>
 </message>
 <message name="BossServicesWS_isBalancePositive">
  <part element="tns:isBalancePositive" name="isBalancePositive"/>
 </message>
 <message name="BossServicesWS_getBalanceWithZerosResponse">
  <part element="tns:getBalanceWithZerosResponse" name="getBalanceWithZerosResponse"/>
 </message>
 <message name="BossServicesWS_getBalance">
  <part element="tns:getBalance" name="getBalance"/>
 </message>
 <message name="BossServicesWS_updateBalanceResponse">
  <part element="tns:updateBalanceResponse" name="updateBalanceResponse"/>
 </message>
 <message name="CODABossJCAException">
  <part element="tns:CODABossJCAException" name="CODABossJCAException"/>
 </message>
 <message name="BossServicesWS_updateBalance">
  <part element="tns:updateBalance" name="updateBalance"/>
 </message>
 <message name="BossServicesWS_getMegaPromoResponse">
  <part element="tns:getMegaPromoResponse" name="getMegaPromoResponse"/>
 </message>
 <message name="BossServicesWS_getBalanceWithZeros">
  <part element="tns:getBalanceWithZeros" name="getBalanceWithZeros"/>
 </message>
 <message name="BossServicesWS_getBalanceResponse">
  <part element="tns:getBalanceResponse" name="getBalanceResponse"/>
 </message>
 <message name="BossServicesWS_getMegaPromo">
  <part element="tns:getMegaPromo" name="getMegaPromo"/>
 </message>
 <portType name="BossServicesWS">
  <operation name="getBalance" parameterOrder="getBalance">
   <input message="tns:BossServicesWS_getBalance"/>
   <output message="tns:BossServicesWS_getBalanceResponse"/>
   <fault message="tns:CODABossJCAException" name="CODABossJCAException"/>
  </operation>
  <operation name="getBalanceWithZeros" parameterOrder="getBalanceWithZeros">
   <input message="tns:BossServicesWS_getBalanceWithZeros"/>
   <output message="tns:BossServicesWS_getBalanceWithZerosResponse"/>
   <fault message="tns:CODABossJCAException" name="CODABossJCAException"/>
  </operation>
  <operation name="getMegaPromo" parameterOrder="getMegaPromo">
   <input message="tns:BossServicesWS_getMegaPromo"/>
   <output message="tns:BossServicesWS_getMegaPromoResponse"/>
   <fault message="tns:CODABossJCAException" name="CODABossJCAException"/>
  </operation>
  <operation name="isBalancePositive" parameterOrder="isBalancePositive">
   <input message="tns:BossServicesWS_isBalancePositive"/>
   <output message="tns:BossServicesWS_isBalancePositiveResponse"/>
   <fault message="tns:CODABossJCAException" name="CODABossJCAException"/>
  </operation>
  <operation name="updateBalance" parameterOrder="updateBalance">
   <input message="tns:BossServicesWS_updateBalance"/>
   <output message="tns:BossServicesWS_updateBalanceResponse"/>
   <fault message="tns:CODABossJCAException" name="CODABossJCAException"/>
  </operation>
 </portType>
 <binding name="BossServicesWSBinding" type="tns:BossServicesWS">
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
  <operation name="getBalance">
   <soap:operation soapAction=""/>
   <input>
    <soap:body use="literal"/>
   </input>
   <output>
    <soap:body use="literal"/>
   </output>
   <fault name="CODABossJCAException">
    <soap:fault name="CODABossJCAException" use="literal"/>
   </fault>
  </operation>
  <operation name="getBalanceWithZeros">
   <soap:operation soapAction=""/>
   <input>
    <soap:body use="literal"/>
   </input>
   <output>
    <soap:body use="literal"/>
   </output>
   <fault name="CODABossJCAException">
    <soap:fault name="CODABossJCAException" use="literal"/>
   </fault>
  </operation>
  <operation name="getMegaPromo">
   <soap:operation soapAction=""/>
   <input>
    <soap:body use="literal"/>
   </input>
   <output>
    <soap:body use="literal"/>
   </output>
   <fault name="CODABossJCAException">
    <soap:fault name="CODABossJCAException" use="literal"/>
   </fault>
  </operation>
  <operation name="isBalancePositive">
   <soap:operation soapAction=""/>
   <input>
    <soap:body use="literal"/>
   </input>
   <output>
    <soap:body use="literal"/>
   </output>
   <fault name="CODABossJCAException">
    <soap:fault name="CODABossJCAException" use="literal"/>
   </fault>
  </operation>
  <operation name="updateBalance">
   <soap:operation soapAction=""/>
   <input>
    <soap:body use="literal"/>
   </input>
   <output>
    <soap:body use="literal"/>
   </output>
   <fault name="CODABossJCAException">
    <soap:fault name="CODABossJCAException" use="literal"/>
   </fault>
  </operation>
 </binding>
 <service name="bossServices">
  <port binding="tns:BossServicesWSBinding" name="BossServicesWSPort">
   <soap:address location="http://192.168.208.181:8080/coda_axon/boss"/>
  </port>
 </service>
</definitions>